body {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  width: 170px;
  margin-left: 550px;
}

.h6 {
  margin-block-start: 1px;
  margin-inline-end: 1px;
}
