body {
  font-family: Arial, Helvetica, sans-serif;
}

.square {
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 80px;
}
